# –í–≤–µ–¥–µ–Ω–∏–µ

–û–ø–µ—Ä–∞—Ç–æ—Ä —Å–≤—è–∑–∏ **¬´–¢–µ–ª–µ–î–æ–º¬ª** —Ö–æ—á–µ—Ç —Å–Ω–∏–∑–∏—Ç—å –æ—Ç—Ç–æ–∫ –∫–ª–∏–µ–Ω—Ç–æ–≤. –ß—Ç–æ–±—ã –ø—Ä–µ–¥–ª–∞–≥–∞—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º –ø—Ä–æ–º–æ–∫–æ–¥—ã –∏ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–µ —É—Å–ª–æ–≤–∏—è –¥–æ —Ç–æ–≥–æ, –∫–∞–∫ –æ–Ω–∏ —Ä–µ—à–∞—Ç —É–π—Ç–∏, –∫–æ–º–ø–∞–Ω–∏–∏ –Ω—É–∂–Ω–∞ –º–æ–¥–µ–ª—å, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–µ–¥—Å–∫–∞–∂–µ—Ç –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ä–∞—Å—Ç–æ—Ä–∂–µ–Ω–∏—è –¥–æ–≥–æ–≤–æ—Ä–∞.  

–î–ª—è —ç—Ç–æ–≥–æ –≤ —Ä–∞—Å–ø–æ—Ä—è–∂–µ–Ω–∏–∏ –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –æ –∫–ª–∏–µ–Ω—Ç–∞—Ö, –∏—Ö —Ç–∞—Ä–∏—Ñ–∞—Ö –∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö —É—Å–ª—É–≥–∞—Ö. –ó–∞–¥–∞—á–∞ ‚Äî –æ–±—É—á–∏—Ç—å –º–æ–¥–µ–ª—å –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–º–æ–∂–µ—Ç –∑–∞—Ä–∞–Ω–µ–µ –æ–ø—Ä–µ–¥–µ–ª—è—Ç—å –∞–±–æ–Ω–µ–Ω—Ç–æ–≤, —Å–∫–ª–æ–Ω–Ω—ã—Ö –∫ —É—Ö–æ–¥—É.  

–í —Ä–∞–º–∫–∞—Ö –ø—Ä–æ–µ–∫—Ç–∞ –Ω—É–∂–Ω–æ:  
- –ü–æ–¥–≥–æ—Ç–æ–≤–∏—Ç—å –∏ –∏–∑—É—á–∏—Ç—å –¥–∞–Ω–Ω—ã–µ;  
- –í—ã–±—Ä–∞—Ç—å –∏ –æ–±—É—á–∏—Ç—å –ø–æ–¥—Ö–æ–¥—è—â—É—é –º–æ–¥–µ–ª—å;  
- –û—Ü–µ–Ω–∏—Ç—å —Ç–æ—á–Ω–æ—Å—Ç—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π;  
- –ü—Ä–µ–¥–ª–æ–∂–∏—Ç—å —Ä–µ—à–µ–Ω–∏—è –ø–æ —Å–Ω–∏–∂–µ–Ω–∏—é –æ—Ç—Ç–æ–∫–∞.  

–≠—Ç–∞ –º–æ–¥–µ–ª—å –ø–æ–º–æ–∂–µ—Ç **¬´–¢–µ–ª–µ–î–æ–º—É¬ª** –≤–æ–≤—Ä–µ–º—è —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ —Ä–∏—Å–∫ —É—Ö–æ–¥–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏ –ø—Ä–µ–¥–ª–∞–≥–∞—Ç—å –∏–º –≤—ã–≥–æ–¥–Ω—ã–µ —É—Å–ª–æ–≤–∏—è –¥–ª—è –ø—Ä–æ–¥–æ–ª–∂–µ–Ω–∏—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è —É—Å–ª—É–≥.

## 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [1]:
import os
import pandas as pd
import numpy as np
import sqlite3

In [2]:
# –ü—É—Ç—å –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö
path = os.path.expanduser('~/final/')
path_to_db = os.path.join(path, 'ds-plus-final.db')

In [3]:
# –°–æ–∑–¥–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ SQLite3
conn = sqlite3.connect(path_to_db)

In [4]:
# –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ —Ç–∞–±–ª–∏—Ü
tables_list = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(list(tables_list['name']))

['data_arc', 'data_bulk', 'data_bulk_time', 'data_wire_time', 'contract', 'personal', 'phone', 'internet', 'data_gas', 'data_temp', 'data_wire']

In [5]:
# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ —Ç–∞–±–ª–∏—Ü
def load_tables(conn, table_names):
    for table_name in table_names:
        query = f"SELECT * FROM {table_name};"
        df = pd.read_sql(query, conn)  # –ò—Å–ø–æ–ª—å–∑—É–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ SQLite3
        globals()[f"{table_name}_df"] = df  # –°–æ–∑–¥–∞–µ–º –≥–ª–æ–±–∞–ª—å–Ω—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é

In [6]:
# –ó–∞–≥—Ä—É–∂–∞–µ–º —Ç–∞–±–ª–∏—Ü—ã
table_names = ['contract', 'personal', 'phone', 'internet']
load_tables(conn, table_names)

# –ó–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
conn.close()

In [7]:
contract_df

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,31.04
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,2071.84
2,3668-QPYBK,2019-10-01,No,Month-to-month,Yes,Mailed check,53.85,226.17
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.3,1960.6
4,9237-HQITU,2019-09-01,No,Month-to-month,Yes,Electronic check,70.7,353.5
...,...,...,...,...,...,...,...,...
7038,6840-RESVB,2018-02-01,No,One year,Yes,Mailed check,84.8,2035.2
7039,2234-XADUH,2014-02-01,No,One year,Yes,Credit card (automatic),103.2,7430.4
7040,4801-JZAZL,2019-03-01,No,Month-to-month,Yes,Electronic check,29.6,325.6
7041,8361-LTMKD,2019-07-01,No,Month-to-month,Yes,Mailed check,74.4,520.8
7042,3186-AJIEK,2014-08-01,No,Two year,Yes,Bank transfer (automatic),105.65,7251.82

In [8]:
personal_df

      customerID  gender SeniorCitizen Partner Dependents
0     7590-VHVEG  Female             0     Yes         No
1     5575-GNVDE    Male             0      No         No
2     3668-QPYBK    Male             0      No         No
3     7795-CFOCW    Male             0      No         No
4     9237-HQITU  Female             0      No         No
...          ...     ...           ...     ...        ...
7038  6840-RESVB    Male             0     Yes        Yes
7039  2234-XADUH  Female             0     Yes        Yes
7040  4801-JZAZL  Female             0     Yes        Yes
7041  8361-LTMKD    Male             1     Yes         No
7042  3186-AJIEK    Male             0      No         No

[7043 rows x 5 columns]

In [9]:
internet_df

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...
5512,6840-RESVB,DSL,Yes,No,Yes,Yes,Yes,Yes
5513,2234-XADUH,Fiber optic,No,Yes,Yes,No,Yes,Yes
5514,4801-JZAZL,DSL,Yes,No,No,No,No,No
5515,8361-LTMKD,Fiber optic,No,No,No,No,No,No
5516,3186-AJIEK,Fiber optic,Yes,No,Yes,Yes,Yes,Yes

In [10]:
phone_df

      CustomerId MultipleLines
0     5575-GNVDE            No
1     3668-QPYBK            No
2     9237-HQITU            No
3     9305-CDSKC           Yes
4     1452-KIOVK           Yes
...          ...           ...
6356  2569-WGERO            No
6357  6840-RESVB           Yes
6358  2234-XADUH           Yes
6359  8361-LTMKD           Yes
6360  3186-AJIEK            No

[6361 rows x 2 columns]

# –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–î–∞–Ω–Ω—ã–µ —Ö—Ä–∞–Ω—è—Ç—Å—è –≤ **SQLite** ‚Äî –°–£–ë–î, –≤ –∫–æ—Ç–æ—Ä–æ–π –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –æ–¥–Ω–∏–º —Ñ–∞–π–ª–æ–º. –û–Ω–∞ —Å–æ—Å—Ç–æ–∏—Ç –∏–∑ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Ç–∞–±–ª–∏—Ü:

- **contract** ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–æ–≥–æ–≤–æ—Ä–∞—Ö;
- **personal** ‚Äî –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∫–ª–∏–µ–Ω—Ç–æ–≤;
- **internet** ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± –∏–Ω—Ç–µ—Ä–Ω–µ—Ç-—É—Å–ª—É–≥–∞—Ö;
- **phone** ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ–± —É—Å–ª—É–≥–∞—Ö —Ç–µ–ª–µ—Ñ–æ–Ω–∏–∏.

---

## –¢–∞–±–ª–∏—Ü–∞ `contract`
| –ü–æ–ª–µ               | –û–ø–∏—Å–∞–Ω–∏–µ                                      |
|--------------------|----------------------------------------------|
| `customerID`      | ID –∞–±–æ–Ω–µ–Ω—Ç–∞                                  |
| `BeginDate`       | –î–∞—Ç–∞ –Ω–∞—á–∞–ª–∞ –¥–µ–π—Å—Ç–≤–∏—è –¥–æ–≥–æ–≤–æ—Ä–∞               |
| `EndDate`         | –î–∞—Ç–∞ –æ–∫–æ–Ω—á–∞–Ω–∏—è –¥–µ–π—Å—Ç–≤–∏—è –¥–æ–≥–æ–≤–æ—Ä–∞            |
| `Type`            | –¢–∏–ø –æ–ø–ª–∞—Ç—ã: —Ä–∞–∑ –≤ –≥–æ–¥-–¥–≤–∞ –∏–ª–∏ –µ–∂–µ–º–µ—Å—è—á–Ω–æ    |
| `PaperlessBilling`| –≠–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ã–π —Ä–∞—Å—á—ë—Ç–Ω—ã–π –ª–∏—Å—Ç                  |
| `PaymentMethod`   | –¢–∏–ø –ø–ª–∞—Ç–µ–∂–∞                                 |
| `MonthlyCharges`  | –†–∞—Å—Ö–æ–¥—ã –∑–∞ –º–µ—Å—è—Ü                           |
| `TotalCharges`    | –û–±—â–∏–µ —Ä–∞—Å—Ö–æ–¥—ã –∞–±–æ–Ω–µ–Ω—Ç–∞                     |

---

## –¢–∞–±–ª–∏—Ü–∞ `personal`
| –ü–æ–ª–µ            | –û–ø–∏—Å–∞–Ω–∏–µ                              |
|----------------|--------------------------------------|
| `customerID`  | ID –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è                      |
| `gender`      | –ü–æ–ª                                  |
| `SeniorCitizen` | –Ø–≤–ª—è–µ—Ç—Å—è –ª–∏ –∞–±–æ–Ω–µ–Ω—Ç –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä–æ–º   |
| `Partner`     | –ï—Å—Ç—å –ª–∏ —É –∞–±–æ–Ω–µ–Ω—Ç–∞ —Å—É–ø—Ä—É–≥(–∞)       |
| `Dependents`  | –ï—Å—Ç—å –ª–∏ —É –∞–±–æ–Ω–µ–Ω—Ç–∞ –¥–µ—Ç–∏            |

---

## –¢–∞–±–ª–∏—Ü–∞ `internet`
| –ü–æ–ª–µ              | –û–ø–∏—Å–∞–Ω–∏–µ                                      |
|------------------|----------------------------------------------|
| `customerID`    | ID –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è                              |
| `InternetService` | –¢–∏–ø –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è                           |
| `OnlineSecurity` | –ë–ª–æ–∫–∏—Ä–æ–≤–∫–∞ –æ–ø–∞—Å–Ω—ã—Ö —Å–∞–π—Ç–æ–≤                 |
| `OnlineBackup`   | –û–±–ª–∞—á–Ω–æ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Ñ–∞–π–ª–æ–≤                 |
| `DeviceProtection` | –ê–Ω—Ç–∏–≤–∏—Ä—É—Å                               |
| `TechSupport`    | –í—ã–¥–µ–ª–µ–Ω–Ω–∞—è –ª–∏–Ω–∏—è —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–æ–π –ø–æ–¥–¥–µ—Ä–∂–∫–∏    |
| `StreamingTV`    | –°—Ç—Ä–∏–º–∏–Ω–≥–æ–≤–æ–µ —Ç–µ–ª–µ–≤–∏–¥–µ–Ω–∏–µ                  |
| `StreamingMovies` | –ö–∞—Ç–∞–ª–æ–≥ —Ñ–∏–ª—å–º–æ–≤                         |

---

## –¢–∞–±–ª–∏—Ü–∞ `phone`
| –ü–æ–ª–µ             | –û–ø–∏—Å–∞–Ω–∏–µ                                      |
|-----------------|----------------------------------------------|
| `customerID`   | ID –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è                              |
| `MultipleLines` | –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —Ç–µ–ª–µ—Ñ–æ–Ω–∞ –∫ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –ª–∏–Ω–∏—è–º   |

---

üìÖ **–ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–æ–≥–æ–≤–æ—Ä–∞—Ö –∞–∫—Ç—É–∞–ª—å–Ω–∞ –Ω–∞ 1 —Ñ–µ–≤—Ä–∞–ª—è 2020.**

## 2. –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑  –∏ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [11]:
contract_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   object
 7   TotalCharges      7043 non-null   object
dtypes: object(8)
memory usage: 440.3+ KB

In [12]:
contract_df.describe()

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
count,7043,7043,7043,7043,7043,7043,7043,7043
unique,7043,77,67,3,2,4,1585,6658
top,7590-VHVEG,2014-02-01,No,Month-to-month,Yes,Electronic check,20.05,
freq,1,366,5942,3875,4171,2365,61,11

In [13]:
print('–¢–∏–ø—ã –æ–ø–ª–∞—Ç—ã: ', ', '.join(contract_df['Type'].unique()))
print('–ù–∞–ª–∏—á–∏–µ —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ–≥–æ —Ä–∞—Å—á—ë—Ç–Ω–æ–≥–æ –ª–∏—Å—Ç–∞: ', ', '.join(contract_df['PaperlessBilling'].unique()))
print('–¢–∏–ø –ø–ª–∞—Ç–µ–∂–∞: ', ', '.join(contract_df['PaymentMethod'].unique()))

–¢–∏–ø—ã –æ–ø–ª–∞—Ç—ã:  Month-to-month, One year, Two year
–ù–∞–ª–∏—á–∏–µ —ç–ª–µ–∫—Ç—Ä–æ–Ω–Ω–æ–≥–æ —Ä–∞—Å—á—ë—Ç–Ω–æ–≥–æ –ª–∏—Å—Ç–∞:  Yes, No
–¢–∏–ø –ø–ª–∞—Ç–µ–∂–∞:  Electronic check, Mailed check, Bank transfer (automatic), Credit card (automatic)

In [14]:
personal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   object
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: object(5)
memory usage: 275.2+ KB

In [15]:
personal_df.describe()

        customerID gender SeniorCitizen Partner Dependents
count         7043   7043          7043    7043       7043
unique        7043      2             2       2          2
top     7590-VHVEG   Male             0      No         No
freq             1   3555          5901    3641       4933

In [16]:
print('–ü–æ–ª: ', ', '.join(personal_df['gender'].unique()))
print('–Ø–≤–ª—è–µ—Ç—Å—è –ª–∏ –∞–±–æ–Ω–µ–Ω—Ç –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä–æ–º: ', ', '.join(personal_df['SeniorCitizen'].unique()))
print('–ï—Å—Ç—å –ª–∏ —É –∞–±–æ–Ω–µ–Ω—Ç–∞ —Å—É–ø—Ä—É–≥(–∞): ', ', '.join(personal_df['Partner'].unique()))
print('–ï—Å—Ç—å –ª–∏ —É –∞–±–æ–Ω–µ–Ω—Ç–∞ –¥–µ—Ç–∏: ', ', '.join(personal_df['Dependents'].unique()))

–ü–æ–ª:  Female, Male
–Ø–≤–ª—è–µ—Ç—Å—è –ª–∏ –∞–±–æ–Ω–µ–Ω—Ç –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä–æ–º:  0, 1
–ï—Å—Ç—å –ª–∏ —É –∞–±–æ–Ω–µ–Ω—Ç–∞ —Å—É–ø—Ä—É–≥(–∞):  Yes, No
–ï—Å—Ç—å –ª–∏ —É –∞–±–æ–Ω–µ–Ω—Ç–∞ –¥–µ—Ç–∏:  No, Yes

In [17]:
internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [18]:
internet_df.describe()

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
count,5517,5517,5517,5517,5517,5517,5517,5517
unique,5517,2,2,2,2,2,2,2
top,7590-VHVEG,Fiber optic,No,No,No,No,No,No
freq,1,3096,3498,3088,3095,3473,2810,2785

In [19]:
print('–¢–∏–ø –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è: ', ', '.join(internet_df['InternetService'].unique()))
print('–ë–ª–æ–∫–∏—Ä–æ–≤–∫–∞ –æ–ø–∞—Å–Ω—ã—Ö —Å–∞–π—Ç–æ–≤: ', ', '.join(internet_df['OnlineSecurity'].unique()))
print('–û–±–ª–∞—á–Ω–æ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Å–∞–π—Ç–æ–≤: ', ', '.join(internet_df['OnlineBackup'].unique()))
print('–ê–Ω—Ç–∏–≤–∏—Ä—É—Å: ', ', '.join(internet_df['DeviceProtection'].unique()))
print('–í—ã–¥–µ–ª–µ–Ω–Ω–∞—è –ª–∏–Ω–∏—è —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–æ–π –ø–æ–¥–¥–µ—Ä–∂–∫–∏: ', ', '.join(internet_df['TechSupport'].unique()))
print('–°—Ç—Ä–∏–º–∏–Ω–≥–æ–≤–æ–µ —Ç–µ–ª–µ–≤–∏–¥–µ–Ω–∏–µ: ', ', '.join(internet_df['StreamingTV'].unique()))
print('–ö–∞—Ç–∞–ª–æ–≥ —Ñ–∏–ª—å–º–æ–≤: ', ', '.join(internet_df['StreamingMovies'].unique()))

–¢–∏–ø –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è:  DSL, Fiber optic
–ë–ª–æ–∫–∏—Ä–æ–≤–∫–∞ –æ–ø–∞—Å–Ω—ã—Ö —Å–∞–π—Ç–æ–≤:  No, Yes
–û–±–ª–∞—á–Ω–æ–µ —Ö—Ä–∞–Ω–∏–ª–∏—â–µ —Å–∞–π—Ç–æ–≤:  Yes, No
–ê–Ω—Ç–∏–≤–∏—Ä—É—Å:  No, Yes
–í—ã–¥–µ–ª–µ–Ω–Ω–∞—è –ª–∏–Ω–∏—è —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–æ–π –ø–æ–¥–¥–µ—Ä–∂–∫–∏:  No, Yes
–°—Ç—Ä–∏–º–∏–Ω–≥–æ–≤–æ–µ —Ç–µ–ª–µ–≤–∏–¥–µ–Ω–∏–µ:  No, Yes
–ö–∞—Ç–∞–ª–æ–≥ —Ñ–∏–ª—å–º–æ–≤:  No, Yes

In [20]:
phone_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerId     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

In [21]:
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∞–±–æ–Ω–µ–Ω—Ç–æ–≤: ', phone_df['CustomerId'].nunique())
print('–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —Ç–µ–ª–µ—Ñ–æ–Ω–∞ –∫ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –ª–∏–Ω–∏—è–º: ', ', '.join(phone_df['MultipleLines'].unique()))

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∞–±–æ–Ω–µ–Ω—Ç–æ–≤:  6361
–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —Ç–µ–ª–µ—Ñ–æ–Ω–∞ –∫ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –ª–∏–Ω–∏—è–º:  No, Yes

### –í—ã–≤–æ–¥
–í —Ç–∞–±–ª–∏—Ü–∞—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –¥—É–±–ª–∏–∫–∞—Ç—ã. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –≤—Å–µ –¥–∞—Ç—ã (`BeginDate`, `EndDate`) –≤ —Ñ–æ—Ä–º–∞—Ç `datetime64`, —á–∏—Å–ª–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è (`MonthlyCharges`, `TotalCharges`) –≤ `float` –∏–ª–∏ `int`, –∞ –±–∏–Ω–∞—Ä–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ (`Partner`, `Dependents`, `MultipleLines`, `OnlineSecurity`, `OnlineBackup`, `DeviceProtection`, `TechSupport`, `StreamingTV`, `StreamingMovies`, `SeniorCitizen`, `PaperlessBilling`) –≤ `bool`, –∑–∞–º–µ–Ω–∏–≤ `Yes` –Ω–∞ `True`, –∞ `No` –Ω–∞ `False`.

In [22]:
merged_df = contract_df.merge(
    personal_df, on='customerID', how='left').merge(
    internet_df, on='customerID', how='left').merge(
    phone_df, left_on='customerID', right_on='CustomerId', how='left')

merged_df

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,...,Dependents,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,CustomerId,MultipleLines
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,31.04,Female,0,...,No,DSL,No,Yes,No,No,No,No,NaN,NaN
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,2071.84,Male,0,...,No,DSL,Yes,No,Yes,No,No,No,5575-GNVDE,No
2,3668-QPYBK,2019-10-01,No,Month-to-month,Yes,Mailed check,53.85,226.17,Male,0,...,No,DSL,Yes,Yes,No,No,No,No,3668-QPYBK,No
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.3,1960.6,Male,0,...,No,DSL,Yes,No,Yes,Yes,No,No,NaN,NaN
4,9237-HQITU,2019-09-01,No,Month-to-month,Yes,Electronic check,70.7,353.5,Female,0,...,No,Fiber optic,No,No,No,No,No,No,9237-HQITU,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,2018-02-01,No,One year,Yes,Mailed check,84.8,2035.2,Male,0,...,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,6840-RESVB,Yes
7039,2234-XADUH,2014-02-01,No,One year,Yes,Credit card (automatic),103.2,7430.4,Female,0,...,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,2234-XADUH,Yes
7040,4801-JZAZL,2019-03-01,No,Month-to-month,Yes,Electronic check,29.6,325.6,Female,0,...,Yes,DSL,Yes,No,No,No,No,No,NaN,NaN
7041,8361-LTMKD,2019-07-01,No,Month-to-month,Yes,Mailed check,74.4,520.8,Male,1,...,No,Fiber optic,No,No,No,No,No,No,8361-LTMKD,Yes
7042,3186-AJIEK,2014-08-01,No,Two year,Yes,Bank transfer (automatic),105.65,7251.82,Male,0,...,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,3186-AJIEK,No

In [23]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   object
 7   TotalCharges      7043 non-null   object
 8   gender            7043 non-null   object
 9   SeniorCitizen     7043 non-null   object
 10  Partner           7043 non-null   object
 11  Dependents        7043 non-null   object
 12  InternetService   5517 non-null   object
 13  OnlineSecurity    5517 non-null   object
 14  OnlineBackup      5517 non-null   object
 15  DeviceProtection  5517 non-null   object
 16  TechSupport       5517 non-null   object
 17  StreamingTV       5517 non-null   object
 18  StreamingMovies   5517 non-null   object
 19  CustomerId        6361 non-null   object
 20  MultipleLines     6361 non-null   object
dtypes: object(21)
memory usage: 1.1+ MB

In [24]:
merged_df.isna().sum()

customerID             0
BeginDate              0
EndDate                0
Type                   0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges           0
gender                 0
SeniorCitizen          0
Partner                0
Dependents             0
InternetService     1526
OnlineSecurity      1526
OnlineBackup        1526
DeviceProtection    1526
TechSupport         1526
StreamingTV         1526
StreamingMovies     1526
CustomerId           682
MultipleLines        682
dtype: int64

In [25]:
merged_df.drop(columns=['customerID','CustomerId'], axis=1, inplace=True)

In [26]:
merged_df.fillna({'InternetService' : False, 
                  'OnlineSecurity' : False, 
                  'OnlineBackup' : False,
                  'DeviceProtection' : False, 
                  'TechSupport' : False, 
                  'StreamingTV' : False, 
                  'StreamingMovies' : False,
                  'MultipleLines' : False}, inplace=True)

In [27]:
merged_df.isna().sum()

BeginDate           0
EndDate             0
Type                0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
MultipleLines       0
dtype: int64

In [28]:
merged_df

,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,Partner,Dependents,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,MultipleLines
0,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,31.04,Female,0,Yes,No,DSL,No,Yes,No,No,No,No,False
1,2017-04-01,No,One year,No,Mailed check,56.95,2071.84,Male,0,No,No,DSL,Yes,No,Yes,No,No,No,No
2,2019-10-01,No,Month-to-month,Yes,Mailed check,53.85,226.17,Male,0,No,No,DSL,Yes,Yes,No,No,No,No,No
3,2016-05-01,No,One year,No,Bank transfer (automatic),42.3,1960.6,Male,0,No,No,DSL,Yes,No,Yes,Yes,No,No,False
4,2019-09-01,No,Month-to-month,Yes,Electronic check,70.7,353.5,Female,0,No,No,Fiber optic,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2018-02-01,No,One year,Yes,Mailed check,84.8,2035.2,Male,0,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,Yes
7039,2014-02-01,No,One year,Yes,Credit card (automatic),103.2,7430.4,Female,0,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Yes
7040,2019-03-01,No,Month-to-month,Yes,Electronic check,29.6,325.6,Female,0,Yes,Yes,DSL,Yes,No,No,No,No,No,False
7041,2019-07-01,No,Month-to-month,Yes,Mailed check,74.4,520.8,Male,1,Yes,No,Fiber optic,No,No,No,No,No,No,Yes
7042,2014-08-01,No,Two year,Yes,Bank transfer (automatic),105.65,7251.82,Male,0,No,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,No

In [35]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   BeginDate         7043 non-null   object
 1   EndDate           7043 non-null   object
 2   Type              7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   object
 6   TotalCharges      7043 non-null   object
 7   gender            7043 non-null   object
 8   SeniorCitizen     7043 non-null   object
 9   Partner           7043 non-null   object
 10  Dependents        7043 non-null   object
 11  InternetService   7043 non-null   object
 12  OnlineSecurity    7043 non-null   object
 13  OnlineBackup      7043 non-null   object
 14  DeviceProtection  7043 non-null   object
 15  TechSupport       7043 non-null   object
 16  StreamingTV       7043 non-null   object
 17  StreamingMovies   7043 non-null   object
 18  MultipleLines     7043 non-null   object
dtypes: object(19)
memory usage: 1.0+ MB

In [38]:
df_new = merged_df.replace({'No' : False, 'Yes' : True})
df_new

C:\Users\user\AppData\Local\Temp\ipykernel_7796\226298437.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new = merged_df.replace({'No' : False, 'Yes' : True})

,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,Partner,Dependents,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,MultipleLines
0,2020-01-01,False,Month-to-month,True,Electronic check,29.85,31.04,Female,0,True,False,DSL,False,True,False,False,False,False,False
1,2017-04-01,False,One year,False,Mailed check,56.95,2071.84,Male,0,False,False,DSL,True,False,True,False,False,False,False
2,2019-10-01,False,Month-to-month,True,Mailed check,53.85,226.17,Male,0,False,False,DSL,True,True,False,False,False,False,False
3,2016-05-01,False,One year,False,Bank transfer (automatic),42.3,1960.6,Male,0,False,False,DSL,True,False,True,True,False,False,False
4,2019-09-01,False,Month-to-month,True,Electronic check,70.7,353.5,Female,0,False,False,Fiber optic,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2018-02-01,False,One year,True,Mailed check,84.8,2035.2,Male,0,True,True,DSL,True,False,True,True,True,True,True
7039,2014-02-01,False,One year,True,Credit card (automatic),103.2,7430.4,Female,0,True,True,Fiber optic,False,True,True,False,True,True,True
7040,2019-03-01,False,Month-to-month,True,Electronic check,29.6,325.6,Female,0,True,True,DSL,True,False,False,False,False,False,False
7041,2019-07-01,False,Month-to-month,True,Mailed check,74.4,520.8,Male,1,True,False,Fiber optic,False,False,False,False,False,False,True
7042,2014-08-01,False,Two year,True,Bank transfer (automatic),105.65,7251.82,Male,0,False,False,Fiber optic,True,False,True,True,True,True,False

In [30]:
# contract_df[['BeginDate', 'EndDate']] = contract_df[['BeginDate', 'EndDate']].apply(pd.to_datetime,
#                                                                                     format = '%Y-%m-%d',
#                                                                                     errors='coerce')

In [31]:
# contract_df['MonthlyCharges'] = contract_df['MonthlyCharges'].astype('float')

In [32]:
# contract_df['TotalCharges'] = contract_df['TotalCharges'].replace(" ", np.nan).astype('float')

In [33]:
# contract_df.info()

## 3. –ò—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑