In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
path = os.path.expanduser('~/final/')
path_to_db = os.path.join(path, 'ds-plus-final.db')
engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

In [3]:
RANDOM_STATE = 170325

In [4]:
engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

with engine.connect() as conn:
    tables_list = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

print(list(tables_list['name']))

['data_arc', 'data_bulk', 'data_bulk_time', 'data_wire_time', 'contract', 'personal', 'phone', 'internet', 'data_gas', 'data_temp', 'data_wire']

In [5]:
table_names = list(tables_list['name'])
table_names

['data_arc',
 'data_bulk',
 'data_bulk_time',
 'data_wire_time',
 'contract',
 'personal',
 'phone',
 'internet',
 'data_gas',
 'data_temp',
 'data_wire']

In [7]:
def load_tables(engine, table_names):
     for table_name in table_names:
        with engine.connect() as conn:
            query = f"SELECT * FROM {table_name};"
            df = pd.read_sql(query, conn)
            globals()[f"{table_name}_df"] = df

In [8]:
load_tables(engine, table_names)

In [9]:
data_arc_df

,key,Начало нагрева дугой,Конец нагрева дугой,Активная мощность,Реактивная мощность
0,1,2019-05-03 11:02:14,2019-05-03 11:06:02,0.305130,0.211253
1,1,2019-05-03 11:07:28,2019-05-03 11:10:33,0.765658,0.477438
2,1,2019-05-03 11:11:44,2019-05-03 11:14:36,0.580313,0.430460
3,1,2019-05-03 11:18:14,2019-05-03 11:24:19,0.518496,0.379979
4,1,2019-05-03 11:26:09,2019-05-03 11:28:37,0.867133,0.643691
...,...,...,...,...,...
14871,3241,2019-09-06 16:49:05,2019-09-06 16:51:42,0.439735,0.299579
14872,3241,2019-09-06 16:55:11,2019-09-06 16:58:11,0.646498,0.458240
14873,3241,2019-09-06 17:06:48,2019-09-06 17:09:52,1.039726,0.769302
14874,3241,2019-09-06 17:21:58,2019-09-06 17:22:55,0.530267,0.361543
14875,3241,2019-09-06 17:24:54,2019-09-06 17:26:15,0.389057,0.251347

In [10]:
data_bulk_df

,key,Bulk 1,Bulk 2,Bulk 3,Bulk 4,Bulk 5,Bulk 6,Bulk 7,Bulk 8,Bulk 9,Bulk 10,Bulk 11,Bulk 12,Bulk 13,Bulk 14,Bulk 15
0,1,NaN,NaN,NaN,43.0,None,None,None,None,None,None,None,206.0,None,150.0,154.0
1,2,NaN,NaN,NaN,73.0,None,None,None,None,None,None,None,206.0,None,149.0,154.0
2,3,NaN,NaN,NaN,34.0,None,None,None,None,None,None,None,205.0,None,152.0,153.0
3,4,NaN,NaN,NaN,81.0,None,None,None,None,None,None,None,207.0,None,153.0,154.0
4,5,NaN,NaN,NaN,78.0,None,None,None,None,None,None,None,203.0,None,151.0,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3124,3237,NaN,NaN,170.0,NaN,None,None,None,None,None,None,None,252.0,None,130.0,206.0
3125,3238,NaN,NaN,126.0,NaN,None,None,None,None,None,None,None,254.0,None,108.0,106.0
3126,3239,NaN,NaN,NaN,NaN,None,114.0,None,None,None,None,None,158.0,None,270.0,88.0
3127,3240,NaN,NaN,NaN,NaN,None,26.0,None,None,None,None,None,None,None,192.0,54.0
3128,3241,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,None,180.0,52.0

In [13]:
data_bulk_time_df

,key,Bulk 1,Bulk 2,Bulk 3,Bulk 4,Bulk 5,Bulk 6,Bulk 7,Bulk 8,Bulk 9,Bulk 10,Bulk 11,Bulk 12,Bulk 13,Bulk 14,Bulk 15
0,1,None,None,None,2019-05-03 11:28:48,None,None,None,None,None,None,None,2019-05-03 11:24:31,None,2019-05-03 11:14:50,2019-05-03 11:10:43
1,2,None,None,None,2019-05-03 11:36:50,None,None,None,None,None,None,None,2019-05-03 11:53:30,None,2019-05-03 11:48:37,2019-05-03 11:44:39
2,3,None,None,None,2019-05-03 12:32:39,None,None,None,None,None,None,None,2019-05-03 12:27:13,None,2019-05-03 12:21:01,2019-05-03 12:16:16
3,4,None,None,None,2019-05-03 12:43:22,None,None,None,None,None,None,None,2019-05-03 12:58:00,None,2019-05-03 12:51:11,2019-05-03 12:46:36
4,5,None,None,None,2019-05-03 13:30:47,None,None,None,None,None,None,None,2019-05-03 13:30:47,None,2019-05-03 13:34:12,2019-05-03 13:30:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3124,3237,None,None,2019-09-06 11:54:15,None,None,None,None,None,None,None,None,2019-09-06 11:49:45,None,2019-09-06 11:45:22,2019-09-06 11:40:06
3125,3238,None,None,2019-09-06 12:26:52,None,None,None,None,None,None,None,None,2019-09-06 12:18:35,None,2019-09-06 12:31:49,2019-09-06 12:26:52
3126,3239,None,None,None,None,None,2019-09-06 15:06:00,None,None,None,None,None,2019-09-06 15:01:44,None,2019-09-06 14:58:15,2019-09-06 14:48:06
3127,3240,None,None,None,None,None,2019-09-06 16:24:28,None,None,None,None,None,None,None,2019-09-06 16:07:29,2019-09-06 16:01:34
3128,3241,None,None,None,None,None,None,None,None,None,None,None,None,None,2019-09-06 17:26:33,2019-09-06 17:23:15

In [14]:
data_wire_time_df

,key,Wire 1,Wire 2,Wire 3,Wire 4,Wire 5,Wire 6,Wire 7,Wire 8,Wire 9
0,1,2019-05-03 11:06:19,None,None,None,None,None,None,None,None
1,2,2019-05-03 11:36:50,None,None,None,None,None,None,None,None
2,3,2019-05-03 12:11:46,None,None,None,None,None,None,None,None
3,4,2019-05-03 12:43:22,None,None,None,None,None,None,None,None
4,5,2019-05-03 13:20:44,2019-05-03 13:15:34,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
3076,3237,2019-09-06 11:33:38,None,None,None,None,None,None,None,None
3077,3238,2019-09-06 12:18:35,None,None,None,None,None,None,None,None
3078,3239,2019-09-06 14:36:11,None,None,None,None,None,None,None,None
3079,3240,2019-09-06 15:33:55,None,None,None,None,None,None,None,None
3080,3241,2019-09-06 17:10:06,None,None,None,None,None,None,None,None

In [15]:
contract_df

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,31.04
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,2071.84
2,3668-QPYBK,2019-10-01,No,Month-to-month,Yes,Mailed check,53.85,226.17
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.3,1960.6
4,9237-HQITU,2019-09-01,No,Month-to-month,Yes,Electronic check,70.7,353.5
...,...,...,...,...,...,...,...,...
7038,6840-RESVB,2018-02-01,No,One year,Yes,Mailed check,84.8,2035.2
7039,2234-XADUH,2014-02-01,No,One year,Yes,Credit card (automatic),103.2,7430.4
7040,4801-JZAZL,2019-03-01,No,Month-to-month,Yes,Electronic check,29.6,325.6
7041,8361-LTMKD,2019-07-01,No,Month-to-month,Yes,Mailed check,74.4,520.8
7042,3186-AJIEK,2014-08-01,No,Two year,Yes,Bank transfer (automatic),105.65,7251.82

In [16]:
personal_df

      customerID  gender SeniorCitizen Partner Dependents
0     7590-VHVEG  Female             0     Yes         No
1     5575-GNVDE    Male             0      No         No
2     3668-QPYBK    Male             0      No         No
3     7795-CFOCW    Male             0      No         No
4     9237-HQITU  Female             0      No         No
...          ...     ...           ...     ...        ...
7038  6840-RESVB    Male             0     Yes        Yes
7039  2234-XADUH  Female             0     Yes        Yes
7040  4801-JZAZL  Female             0     Yes        Yes
7041  8361-LTMKD    Male             1     Yes         No
7042  3186-AJIEK    Male             0      No         No

[7043 rows x 5 columns]

In [17]:
phone_df

      CustomerId MultipleLines
0     5575-GNVDE            No
1     3668-QPYBK            No
2     9237-HQITU            No
3     9305-CDSKC           Yes
4     1452-KIOVK           Yes
...          ...           ...
6356  2569-WGERO            No
6357  6840-RESVB           Yes
6358  2234-XADUH           Yes
6359  8361-LTMKD           Yes
6360  3186-AJIEK            No

[6361 rows x 2 columns]

In [18]:
internet_df

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Fiber optic,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...
5512,6840-RESVB,DSL,Yes,No,Yes,Yes,Yes,Yes
5513,2234-XADUH,Fiber optic,No,Yes,Yes,No,Yes,Yes
5514,4801-JZAZL,DSL,Yes,No,No,No,No,No
5515,8361-LTMKD,Fiber optic,No,No,No,No,No,No
5516,3186-AJIEK,Fiber optic,Yes,No,Yes,Yes,Yes,Yes

In [19]:
data_gas_df

       key      Газ 1
0        1  29.749986
1        2  12.555561
2        3  28.554793
3        4  18.841219
4        5   5.413692
...    ...        ...
3234  3237   5.543905
3235  3238   6.745669
3236  3239  16.023518
3237  3240  11.863103
3238  3241  12.680959

[3239 rows x 2 columns]

In [20]:
data_temp_df

        key         Время замера Температура
0         1  2019-05-03 11:02:04      1571.0
1         1  2019-05-03 11:07:18      1604.0
2         1  2019-05-03 11:11:34      1618.0
3         1  2019-05-03 11:18:04      1601.0
4         1  2019-05-03 11:25:59      1606.0
...     ...                  ...         ...
18087  3241  2019-09-06 16:55:01        None
18088  3241  2019-09-06 17:06:38        None
18089  3241  2019-09-06 17:21:48        None
18090  3241  2019-09-06 17:24:44        None
18091  3241  2019-09-06 17:30:05        None

[18092 rows x 3 columns]

In [21]:
data_wire_df

,key,Wire 1,Wire 2,Wire 3,Wire 4,Wire 5,Wire 6,Wire 7,Wire 8,Wire 9
0,1,60.059998,None,None,None,None,None,None,None,None
1,2,96.052315,None,None,None,None,None,None,None,None
2,3,91.160157,None,None,None,None,None,None,None,None
3,4,89.063515,None,None,None,None,None,None,None,None
4,5,89.238236,9.11456,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
3076,3237,38.088959,None,None,None,None,None,None,None,None
3077,3238,56.128799,None,None,None,None,None,None,None,None
3078,3239,143.357761,None,None,None,None,None,None,None,None
3079,3240,34.070400,None,None,None,None,None,None,None,None
3080,3241,63.117595,None,None,None,None,None,None,None,None